[user]
	name = Martin Ledgard
	email = martin@le6o.com

[color]
	ui = True

[merge]
	log = True

[alias]
	br = branch -v
	ci = commit
	co = checkout
	ls = ls-files
	st = status -s

	amend = commit --amend -C HEAD

	diffw = diff --word-diff

	logg = log --graph --date=relative --abbrev-commit --format=format:'%C(yellow)%h%Creset%Cgreen%d%Creset %s %Cblue(%cr)%Creset'

	nuke = reset --hard HEAD

	pick = cherry-pick

	# Pushs up to a new branch matching the current branch name and sets upstream tracking
	# assumes a default remote of 'origin'
	# Thanks @cs278, https://github.com/cs278/dotfiles/blob/master/.gitconfig#L95
	pushup = "!sh -c 'remote=$1; [ -z $remote ] && remote=origin; branch=$(git symbolic-ref -q HEAD) || exit 1; branch=${branch##refs/heads/}; git push --set-upstream $remote $branch' -"

	staged = diff --cached

[rerere]
	enabled = True
[push]
	default = upstream
