[user]
	name = Martin Ledgard
	email = martin@le6o.com

[color]
	ui = True

[merge]
	log = True

[alias]
	ap = add -p
	br = branch -vv
	ci = commit
	co = checkout
	cp = checkout -p
	nb = !sh -c 'git fetch && git co origin/master --no-track -b $1' -
	ri = rebase --interactive --autosquash --preserve-merges
	rp = reset HEAD -p
	st = status -s


	shear = "!git fetch -p && for branch in $(git branch -vv | grep ': gone]' | awk '{print $1}'); do git branch -D $branch; done"

	amend = commit --amend -C HEAD

	continue = rebase --continue

	fix = !sh -c 'git commit --fixup=$1' -

	hide = "stash save --include-untracked"
	unhide = "stash apply"

	lga = log --oneline --decorate --graph
	lgm = "!git lga ...origin/master"

	lg = "!git lga `git branch-point`.."

	# log all merge commits since last tag
	lgt = !sh -c 'git log --oneline --merges origin/master...$(git describe --abbrev=0 --tags)'

	nuke = reset --hard HEAD

	pick = cherry-pick

	# Pushs up to a new branch matching the current branch name and sets upstream tracking
	# assumes a default remote of 'origin'
	# Thanks @cs278, https://github.com/cs278/dotfiles/blob/master/.gitconfig#L95
	pushup = "!sh -c 'remote=$1; [ -z $remote ] && remote=origin; branch=$(git symbolic-ref -q HEAD) || exit 1; branch=${branch##refs/heads/}; git push --set-upstream $remote $branch' -"

	remotes = remote -v

	staged = diff --cached

	branch-point = !bash -c 'diff --old-line-format= --new-line-format= <(git rev-list --first-parent \"${1:-origin/master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | head -1' -

[rerere]
	enabled = True
[fetch]
	prune = true
[pull]
	rebase = true
[push]
	default = upstream
[core]
	excludesfile = ~/.gitignore
